Quantum Leap Assignment_Rag-Agent
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        448
      ],
      "id": "f162a57b-d267-4168-b992-e5649a31cccc",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "LWpKuz0qhgmOhshk",
          "name": "Google -hricheakg@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "topK": 15
      },
      "id": "8b326946-fbd0-4964-931a-63133450a72d",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "position": [
        496,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Simple chat bot to ask specific questions while having access to the context of the Google Sheet Knowledge Base which was stored in the Vector Store.",
        "height": 781,
        "width": 1083,
        "color": 6
      },
      "id": "6f59e739-c4be-41a4-a8da-124dd3319e29",
      "name": "Sticky Note30",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "6e6e4fbb-b495-4cbc-ad4d-85a455aba4d4",
      "name": "Supabase Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        512,
        432
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "vypWonWwohsi9KLm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        560
      ],
      "id": "2f73d051-72e9-4b5c-8c04-7546154c82aa",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "LWpKuz0qhgmOhshk",
          "name": "Google -hricheakg@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6c122651-09ad-4819-8527-5999e6adacc222111",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        96
      ],
      "id": "d32a5e60-ed0b-4a8b-9b96-e41d82587794",
      "name": "Webhook1",
      "webhookId": "6c122651-09ad-4819-8527-5999e6adacc9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3a77f1ec-6756-4b7c-af1a-0edd7517eacc",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        96
      ],
      "id": "1586076e-a285-4c72-bf94-3cf1bdda3317",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ec28f65-fb1d-4628-b88d-10e67dd17910",
              "name": "body.message",
              "value": "={{ $json.body.message || $('Webhook1').item.json.body.data.message.conversation}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        112
      ],
      "id": "d8ed861d-0581-4850-910f-2b804955a2c6",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        336,
        448
      ],
      "id": "51e2f0a1-4c5a-436d-a9ee-15e8f83a84c9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "I2MqWB7BIR3FJtMP",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This code replaces all newline characters (\\n) with HTML line breaks (<br>).\n\nfor (const item of items) {\n  // --- 1. SET YOUR INPUT FIELD ---\n  // Change 'response.text' to the actual path of your text field.\n  const inputText = item.json.response.text;\n\n  // Check if the input text exists to avoid errors\n  if (typeof inputText === 'string') {\n    // --- 2. THE REPLACEMENT LOGIC ---\n    // The .replace(/\\n/g, '<br>') finds all (\\g) newlines (\\n) and replaces them.\n    const formattedText = inputText.replace(/\\n/g, '<br>');\n\n    // --- 3. SET THE OUTPUT FIELD ---\n    // The result is saved to a new field called 'htmlText'.\n    // You can use this new field in subsequent nodes.\n    item.json.htmlText = formattedText;\n  }\n}\n\n// Return all the modified items to the next node in the workflow\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        128
      ],
      "id": "d8f58ace-9c3f-4abe-9424-a14062a98af9",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook1').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook1').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.headers.host }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1328,
        128
      ],
      "id": "dc47fc1b-3c7c-458e-b639-c1c54bb61436",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "mIvXins25v16IoiI",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f977584d-734d-47b2-825b-b72988e7e173",
              "name": "headers.host",
              "value": "={{ $('Code in JavaScript2').item.json.response.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        128
      ],
      "id": "cbee8645-a340-473b-892c-197e743f54e1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "## This node is to send a response to the WhatsApp.",
        "height": 333,
        "width": 571,
        "color": 4
      },
      "id": "131e47d6-6dd3-4910-9367-5ace2e624447",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User message: {{ $json.body.message }}\n\nInstructions: You are an invoice Q&A engine. When given invoice text or data, extract key fields and return a SHORT, STRUCTURED SUMMARY with one field per line, like the Example below. Only include fields that are present; do not add commentary. Do not include any other text—no preface/suffix, explanations, quotes, or code fences—when returning an invoice summary.\n\nIf the incoming message does not contain invoice-like information (for example plain greetings like \"Hi\", casual chat, or questions not containing invoice numbers/amounts/supplier), reply as a brief, helpful human assistant in 1–2 short sentences. Use a friendly tone and invite them to send the invoice or ask an invoice-specific question. Example friendly reply to use exactly:\nHi! I am an invoice assistant of Quantum Leap. Please ask an invoice-specific question and I will extract the details.\n\nExample: -\nFormat exactly:\nInvoice <NUMBER>\nSupplier: <NAME>\nTotal: ₹<amount> · Taxable: ₹<amount> · CGST: ₹<amount>\nQty: <quantity> · HSN: <code> · GSTIN: <gstin>\n\nFormat numbers with two decimals, use commas for thousands, keep lines compact, and return only the summary text when an invoice is present.",
        "options": {}
      },
      "id": "02bd3543-aa6f-4a8c-894b-3714354a0f35",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        432,
        128
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $input.first().json.message;\nconst timestamp = $input.first().json.timestamp;\n\n// Generate automated reply\nconst replies = [\n  \"Thanks for your message! I received: \" + userMessage,\n  \"Got it! Processing your request...\",\n  \"Message received successfully!\"\n];\n\nreturn {\n  // reply: \"ABCD<br>1234\",\n  reply: $input.first().json.headers.host,\n  processed: true,\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        1184
      ],
      "id": "66dd6210-5290-46c5-92e3-05bd778c8c93",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b922887-f82f-4fa2-a664-c10ae709fc5e",
              "leftValue": "={{ $('Webhook2').item.json.body.data.key.remoteJid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        1152
      ],
      "id": "59040a5e-e524-4b10-b238-f944aa2b7d7a",
      "name": "If",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f977584d-734d-47b2-825b-b72988e7e173",
              "name": "headers.host",
              "value": "={{ $json.htmlText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        1184
      ],
      "id": "3f861746-cc6a-47e4-bc13-2090173b9db6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## This node is to send a response to the Chat Webpage sender only.",
        "height": 333,
        "width": 571,
        "color": 4
      },
      "id": "4b1af621-3977-4cac-a68a-07ee1c94e83d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        1024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6c122651-09ad-4819-8527-5999e6adacc222",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        1136
      ],
      "id": "e5cd2b80-eed4-46e4-b2d8-e40f70d9a2a9",
      "name": "Webhook",
      "webhookId": "6c122651-09ad-4819-8527-5999e6adacc9"
    },
    {
      "parameters": {
        "topK": 15
      },
      "id": "9a537f69-63a2-4fdd-9020-72ebb4f2ce72",
      "name": "Vector Store Retriever1",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "position": [
        608,
        1312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Simple chat bot to ask specific questions while having access to the context of the Google Sheet Knowledge Base which was stored in the Vector Store.",
        "height": 781,
        "width": 923,
        "color": 6
      },
      "id": "7a86356d-ea25-43c9-97e5-31f554d1e541",
      "name": "Sticky Note31",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "e35fd120-cbff-4856-9b0e-58236a5ae6b3",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        624,
        1456
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "vypWonWwohsi9KLm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        1584
      ],
      "id": "f76e65b7-c3b5-47d9-9419-8ccac6cd9d83",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "LWpKuz0qhgmOhshk",
          "name": "Google -hricheakg@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ec28f65-fb1d-4628-b88d-10e67dd17910",
              "name": "body.message",
              "value": "={{ $json.body.message || $('Webhook2').item.json.body.data.message.conversation}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        1136
      ],
      "id": "0e686c8b-a6b0-4394-b6ab-6a0661e0c81c",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        448,
        1472
      ],
      "id": "59468ef8-8d64-427e-94e8-20591aff8192",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "HPaDxXD1xqtuvEoz",
          "name": "Groq-Sibu.4th@"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This code replaces all newline characters (\\n) with HTML line breaks (<br>).\n\nfor (const item of items) {\n  // --- 1. SET YOUR INPUT FIELD ---\n  // Change 'response.text' to the actual path of your text field.\n  const inputText = item.json.response.text;\n\n  // Check if the input text exists to avoid errors\n  if (typeof inputText === 'string') {\n    // --- 2. THE REPLACEMENT LOGIC ---\n    // The .replace(/\\n/g, '<br>') finds all (\\g) newlines (\\n) and replaces them.\n    const formattedText = inputText.replace(/\\n/g, '<br>');\n\n    // --- 3. SET THE OUTPUT FIELD ---\n    // The result is saved to a new field called 'htmlText'.\n    // You can use this new field in subsequent nodes.\n    item.json.htmlText = formattedText;\n  }\n}\n\n// Return all the modified items to the next node in the workflow\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        1152
      ],
      "id": "1ece4f82-7958-4423-a574-b27c596bfdca",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User message: {{ $json.body.message }}\n\nInstructions: You are an invoice Q&A engine. When given invoice text or data, extract key fields and return a SHORT, STRUCTURED SUMMARY with one field per line, like the Example below. Only include fields that are present; do not add commentary. Do not include any other text—no preface/suffix, explanations, quotes, or code fences—when returning an invoice summary.\n\nIf the incoming message does not contain invoice-like information (for example plain greetings like \"Hi\", casual chat, or questions not containing invoice numbers/amounts/supplier), reply as a brief, helpful human assistant in 1–2 short sentences. Use a friendly tone and invite them to send the invoice or ask an invoice-specific question. Example friendly reply to use exactly:\nHi! I am an invoice assistant. Please send the invoice text or ask an invoice-specific question and I will extract the details.\n\nExample: -\nFormat exactly:\nInvoice <NUMBER>\nSupplier: <NAME>\nTotal: ₹<amount> · Taxable: ₹<amount> · CGST: ₹<amount>\nQty: <quantity> · HSN: <code> · GSTIN: <gstin>\n\nFormat numbers with two decimals, use commas for thousands, keep lines compact, and return only the summary text when an invoice is present.",
        "options": {}
      },
      "id": "aca34e79-c118-4aba-a7f5-a7759cb82ee8",
      "name": "Question and Answer Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        544,
        1152
      ],
      "typeVersion": 1.3
    }
  ],
  "connections": {
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever1": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain1",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Question and Answer Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "891a9c01b2e13f8e84510bd844b93e30c74ddb03952734b09d9c188856bf8474"
  }
}
